In [2]:
import pandas as pd
import numpy as np

# cols
names = ["period","code","doc_id","idk","name","uid","party","region","vote","type","number2","sex","year_of_birth","date"]

# read data
votes = pd.read_csv("data/votering-201920.csv", names=names)

In [3]:
votes.head(1)

,period,code,doc_id,idk,name,uid,party,region,vote,type,number2,sex,year_of_birth,date
0,2019/20,CU5,0027A0A4-925A-4E95-9ECC-0D6EDFC4A5DD,1,Anders Hansson,843345349823,M,Skåne läns södra,Ja,sakfrågan,16,man,1976,2019-11-28

In [4]:
ledamoter = votes.name.unique()
print(ledamoter.shape)

(371,)

In [5]:
votes.vote.value_counts()

Frånvarande    92819
Ja             57243
Nej            18121
Avstår          9109
Name: vote, dtype: int64

In [6]:
votespp = votes.groupby(votes.name).vote.value_counts()

In [7]:
votespp.index[0:3]

MultiIndex([('Acko Ankarberg Johansson', 'Frånvarande'),
            ('Acko Ankarberg Johansson',          'Ja'),
            ('Acko Ankarberg Johansson',         'Nej')],
           names=['name', 'vote'])

In [8]:
# Construct new df and populate with above data
columns = ["frånvarande", "ja", "nej", "avstår"]
lowerledamoter = [name.lower() for name in votes.name.unique().tolist()]

counts_df = pd.DataFrame(index=lowerledamoter, columns=columns)
counts_df

                 frånvarande   ja  nej avstår
anders hansson           NaN  NaN  NaN    NaN
pyry niemi               NaN  NaN  NaN    NaN
staffan eklöf            NaN  NaN  NaN    NaN
emil källström           NaN  NaN  NaN    NaN
robert stenkvist         NaN  NaN  NaN    NaN
...                      ...  ...  ...    ...
sanne lennström          NaN  NaN  NaN    NaN
marcus jonsson           NaN  NaN  NaN    NaN
jan björklund            NaN  NaN  NaN    NaN
jonas eriksson           NaN  NaN  NaN    NaN
lena emilsson            NaN  NaN  NaN    NaN

[371 rows x 4 columns]

In [9]:
# TEST
index = votespp.index[0]
mp = index[0].lower()
col = index[1].lower()
value =  votespp[index]

print(type(mp), type(col), type(int(value)))
mp, col, value

<class 'str'> <class 'str'> <class 'int'>

('acko ankarberg johansson', 'frånvarande', 292)

In [10]:
# Populate above df
for index in votespp.index:
    mp, col = [value.lower() for value in index]
    value = int(votespp[index])
    
    counts_df.loc[mp][col] = value
    # print(f"inserting at \n row id: { mp } \n column: {col} \n with value: {value}")

In [11]:
# visualise
counts_df.head()

                 frånvarande   ja  nej avstår
anders hansson           257  123   85     43
pyry niemi               191  291   26    NaN
staffan eklöf            295   89   81     43
emil källström           306  153   34     15
robert stenkvist         169  152  122     65

In [12]:
counts_df.frånvarande.dropna().sort_values(ascending=False)

jonas andersson                581
mattias karlsson               533
thomas hammarberg              417
ulf kristersson                412
jimmie åkesson                 402
                              ...
jan r andersson                  7
maria arnholm                    2
linda ylivainio                  1
marcus jonsson                   1
andreas lennkvist manriquez      1
Name: frånvarande, Length: 364, dtype: object

In [14]:
counts_df.to_csv("data/counts.csv", header=["frånvarande", "ja", "nej", "avstår"])